@media (min-width:1px) and (max-width: 599px) {

    .gridConteiner{                                                     /* contenedor de toda la pagina  */
                display:grid;
                grid-template: 
                    "header"  100px
                    "main"   auto
                    "footer"  auto   ;
    }                                      
    

     

    main {
        grid-area: main;

    }  

    footer {
        grid-area: footer;
        background-color:rgb(32, 30, 30);
        text-align: center;        
        color:white
    }

    /*         empieza header                    */
    #conteinerHeader {
        grid-area: header;
        display: grid ;
        grid-template: 
            "promo"    30px
            "contenerInfoHeader" 70px;  
                 
    }
    .promo {
        grid-area:promo;
        background-color: $colorCeles;
        text-align: center;
        position: fixed;
        left:0;
        top:0;
        height: 30px;
        width: 100%;
        font-weight: bold;
        z-index: 5;
    }
    .contenerInfoHeader {
        grid-area:contenerInfoHeader;
        background-image: url(../img/fondo4.jpg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 70px;
        position:fixed;
        left: 0px;
        top: 30px;            
        z-index: 5;
    }

    
    .logoHeader {
        display:none;
    }
                                                             /* menu mobile */
    
    
    
    .ulPrin{
        background-color: $colorCeles;              
        list-style: none;                    
        width: 100%; 
        position:fixed;
        left: -600px;    
        top: 0;
        transition: all 1s;  
        padding-top:120px;
        padding-left: 10px;

        
        li {
            padding-bottom: 15px;
            border-top: 1px solid silver;
            padding-top: 10px;
            font-weight: bolder;
            z-index: 150;

            &:hover {
                a {
                    color:white;  
                }
            }

            a{
                text-decoration: none;
                 color: black;
                  font-size: 20px;
            }

        }         
    }
    
    

  
    #menuNavPhone {
        
        display: none;
        &:checked ~ .ulPrin{
            left:0px;
        }
    }

    
    .menuNavPhoneLabel {
        position: relative;
        z-index: 150;
        
    }
    
    
    .fa-bars ,.fa-envelope,.fa-instagram,.fa-whatsapp,.fa-facebook-f,.logoHeaderMobile{
        font-size: 25px;
    }
    .fa-envelope,.fa-instagram,.fa-whatsapp,.fa-facebook-f {
        padding-left: 5px;
    }
    .logoHeaderMobile {
        a{
                 color:black;
                 text-decoration: none;
                  font-weight: bold;
                  margin-right: 25px;
         }
    }
    

    .fa-bars{
        &:hover{
                 color:white;
                 }
    }
                            /*       termina header                 */





     /* empieza el main del index */

    .mainIndex {

        display:grid;
        grid-template: 
            "banner" auto
            "categoriasFotos" auto
            "atencionEnvios" auto;
        gap: 30px;
    }
    
    .banner {
        grid-area: banner;
        margin-top: 10px;
        z-index: 1;
        
    }
    
    .categoriasFotos {
        grid-area: categoriasFotos;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:20px;
        
       }
       .titu {
        padding-bottom: 20px;
        z-index: -1;
       }
       .categoriasFotos {
            img{
                width: 100%;   
        
       }
     }  
       .atencionEnvios {
        grid-area:atencionEnvios;
    }

       .atencionEnvios {
        img{
            width: 100%;

        }
       
       }
       .atencionEnvios {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
       }
       
       .envio,.atencion{
        display: none;
       }

    

   /* termina el main*/
    
                                                              


    
                            
    


   
  
   
   /*     footer phone */

    
    .footerContenedorPhoneInfo{
        text-align: center;
        padding-left: 15px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }

    .footerContenedorPhoneInfo  {

        p {
            padding-bottom: 5px;

        }
        
    }
    .colorPhone {
        color: $colorRosa;
        font-weight: bold;
    
    }

    #mostrarMenuAyudarte, #mostrarMenuNosotros ,#mostrarMenuInformar ,#mostrarMenuSeguinos,#mostrarMenuMedios{
        display:none;
       
    }
   
    .footerContenedorPhoneInfo{
        label {
            &:hover {
                cursor:pointer;
            }

        }
        
    }

    .ayudarteUl ,.NosotrosUl,.InformarUl,.SeguinosUl, .MediosUl{

        display: none;
        a {
            color:white;
        text-decoration: none;
           &:hover {
            color:$colorCeles;
            text-decoration: none;
           }
        }

        ul {
                 list-style: none;
                 display: flex;
                 flex-direction: column;      
                 padding-left: 0;
                 gap: 5px;

                 li {
                    color:white;    
                    text-align: left;
                    p{
                        font-size: 15px;
                         font-weight:lighter;

                    }
                 }
         }
    
    }
    

    .ayudarFot,.nosotrosFot,.informarFot,.seguinosFot,.mediosFot{
        text-align: left;   
    }        
    
   
    #mostrarMenuAyudarte:checked ~ .ayudarteUl ,#mostrarMenuNosotros:checked ~ .NosotrosUl ,#mostrarMenuInformar:checked ~ .InformarUl ,#mostrarMenuSeguinos:checked ~ .SeguinosUl,#mostrarMenuMedios:checked ~ .MediosUl {
        display: block;
    }

   
   
    .copyright {
        margin-top: 30px;
        font-size: 13px;
    }
    .pDesk{
        display: none;
    }
    

     .whatMobile {                                     /*icono whatsap footer*/
        font-size: 15px;
        padding-right: 10px;
    }    
    
}